
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$teal : #008080;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$info: $teal;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";

// Import Bulma Timeline

@import "../../node_modules/bulma-timeline/src/sass/index.sass";

// Import Bulma Switch

@import "../../node_modules/bulma-switch/src/sass/index.sass";

// Import Bulma Divider

@import "../../node_modules/bulma-divider/src/sass/index.sass";

// Import Bulma Tooltip

@import "../../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";
// Import slick for css files | react slick

@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";